[Desktop Entry]
Type=Application
Name=EverCal
Comment=evercal
# IMPORTANT: Use the absolute path to the binary
Exec=/home/hai/.config/scripts/calendar.sh
# IMPORTANT: Since it's a GUI, this must be false
Terminal=false
Icon=utilities-terminal
Categories=Utility;
