@define-color base #faf4ed;
@define-color surface #fffaf3;
@define-color overlay #f2e9e1;
@define-color muted #9893a5;
@define-color subtle #797593;
@define-color text #464261;
@define-color love #b4637a;
@define-color gold #ea9d34;
@define-color rose #d7827e;
@define-color pine #286983;
@define-color foam #56949f;
@define-color iris #907aa9;
@define-color highlight-low #f4ede8;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font Mono, monospace;
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

#workspaces button {
    padding: 4px;
    color: @muted;
    margin-right: 5px;
}

#workspaces button.active {
    color: @pine;
}

#workspaces button.focused {
    color: @base;
    background: @pine;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @base;
    background: @love;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @foam;
    color: @base;
    border-radius: 10px;
}

#window,
#clock,
#custom-nixos,
#custom-nvidia,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#workspaces,
#tray,
#backlight {
    background: @overlay;
    padding: 0px 10px;
    margin: 2px 0px;
    margin-top: 4px;
    /* border: 1px solid #181825; */
    /* border-radius: 10px 0px 0px 10px; */
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: @overlay;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
}

#memory {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @text;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#custom-nixos {
    color: @base;
    background: @pine;
    padding: 0px 8px;
    margin: 4px 6px 2px 10px;
    border-radius: 10px;
}

#custom-nvidia {
    color: @pine;
    border-radius: 0px;
}

#network {
    color: @text;
    border-radius: 10px;
    margin-right: 5px;

}

#pulseaudio {
    color: @text;
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
}

#backlight {
    border-radius: 0px;
}

#pulseaudio.microphone {
    color: @text;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: @text;
    border-radius: 10px;
    margin-right: 10px;
}
