shared_database_path ~/Documents/.sioyek.db
startup_commands toggle_custom_color
scroll_past_document_ends 0
# === CATPPUCCIN LATTE === #
background_color           #faf4ed

text_highlight_color       #d7827e
visual_mark_color          #56949f

search_highlight_color     #d7827e
link_highlight_color       #d7827e
synctex_highlight_color    #d7827e

highlight_color_a          #d7827e
highlight_color_b          #d7827e
highlight_color_c          #d7827e
highlight_color_d          #d7827e
highlight_color_e          #d7827e
highlight_color_f          #d7827e
highlight_color_g          #d7827e


custom_background_color    #faf4ed
custom_text_color          #4c4f69

ui_text_color              #56949f	
ui_background_color        #f2e9e1
ui_selected_text_color     #d7827e
ui_selected_background_color #fffaf3	

status_bar_color           #f2e9e1	
status_bar_text_color      #d7827e	
